# version: "3"
# services:
#   web:
#     build: .
#     environment:
#       - NODE_ENV=development
#     volumes:
#       - ./:/usr/src/app
#     ports:
#       - 8000:3001
#     # platform: linux/amd64
#     tty: true


version: '3'

services:
  back:
    build:
      context: ./back
    environment:
      - NODE_ENV=development
    ports:
      - "3000:3000"
      - "5555:5555" #prisma studioç”¨
    volumes:
      - ./back:/usr/src/back
    networks:
      - app-network
    tty: true

  front:
    build:
      context: ./front
    ports:
      - "8000:3001"
    volumes:
      - ./front:/usr/src/front
    networks:
      - app-network
    environment:
      - REACT_API_URL=http://back:3000
      - NODE_ENV=development
    tty: true

  postgres:
    image: postgres:14.5
    environment:
      - POSTGRES_DB=mydatabase
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - app-network
    ports:
      - "5432:5432"

networks:
  app-network:
    driver: bridge

volumes:
  postgres-data: